* {
    margin          : 0 auto;
    padding         : 0;
    background-color: hsl(30, 4%, 27%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    margin-top: 10vh auto;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.para {
    margin-top: 10vh;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.footer {
    color: white;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 18%);
    height: 5vh;
    top: 73dvh;
}

.footerT {
    display: flex;
    position: relative;
    background-color: hsl(0, 0%, 18%);
    justify-content: center;
    align-items: center;
}